h1 {
  color: black;
  font-family: "EB Garamond", serif;
  font-weight: 600;
  font-size: 36;
}

h2 {
  color: black;
  font-family: "EB Garamond", serif;
  font-style: italic;
  font-size: 20px;
}

.hero {
  background-color: #ecd8d5;
}

.hero-menu {
  color: black;
  font-family: "EB Garamond", serif;
  font-size: 20px;
  font-weight: 400px;
  text-decoration: underline;
}

a {
  color: black;
}

a:hover {
  color: black;
}
