h1 {
  color: black;
  font-family: "EB Garamond", serif;
  font-weight: 600;
  font-size: 36;
}

h2 {
  color: black;
  font-family: "EB Garamond", serif;
  font-style: italic;
  font-size: 20px;
  text-decoration: underline;
}
